.content-container__content--projects {
  padding-top: 15px;
}

.project-teaser {
  counter-increment: section;
  content: counter(section);
  transition-delay: counter(section)s;
}

.project-landing-enter {
  opacity: 0.01;
}

.project-landing-appear {
  opacity: 0;
  transform: translateX(100%);
}

.project-landing-appear.project-landing-appear-active {
  opacity: 1;
  transform: translateX(0);
  transition: all 1.5s ease-out;
  
}