.content-container__content--contact {
  align-self: center;
  width: 100%;
}

.contact__item-container {
  width: 50%;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  min-width: 225px;
}

@media(--small-viewport) { 
  .contact__item-container {
    margin-bottom: 50px;
    width: 100%;
  }
}

.contact__link {
  display: inline-block;
  position: relative;
  padding: 10px;
  text-decoration: none;
  color: var(--smokyBlack);
  transition: all .2s ease-in-out;
}

.contact__link:hover {
  transform: scale(1.2);
}

.contact__icon {
  margin-right: 10px;
}