.blog-teaser {
  padding: 0 10px;
}

.content-container__content--home .blog-teaser {
  width: 30%;
}

.blog-teaser__title {
  margin: 0;
}

.blog-teaser__link {
  margin-bottom: 10px;
  font-family: var(--header-font);
  color: var(--copperRed);
  text-decoration: none; 
  line-height: 130%;
  display: inline-block;
  transition: all .2s ease-in-out;
}

.blog-teaser__link:hover {
  transform: scale(1.2);
}