<!DOCTYPE html>
<html>
  <head>
    <meta charset="" />
    <meta name=""
          content="" >
    <title>Daniel's Blogfolio</title>
    <link rel="stylesheet" href="/css/app.bundle.css">
  </head>
  <body>
    <div id="root"><%- markup -%></div>
    <script src="/js/bundle.js"></script>
  </body>
</html>