<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="description"
          content="Daniel Gading, Web Developer" >
    <meta name="viewport" content="width=device-width" />
    <title>Daniel's Blogfolio</title>
    <link rel="stylesheet" href="/css/app.bundle.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  </head>
  <body>
    <div id="root"><%- markup -%></div>
    <script src="/js/bundle.js"></script>
  </body>
</html>