@import url(https://fonts.googleapis.com/css?family=Rubik:400,400i,700,700i|Trirong:400,700);

/* Shared */
/*
font-family: 'Trirong', serif; __headers
font-family: 'Rubik', sans-serif; __body-copy
*/
html {
  font-size: 16px;
  font-family: 'Rubik', sans-serif;
}
