.site-navigation__item--home { grid-area: home; }
.site-navigation__link--home { background-color: var(--smokyBlack); }

.site-navigation__item--about { grid-area: about; }
.site-navigation__link--about { background-color: var(--pewterBlue); }

.site-navigation__item--blog { grid-area: blog; }
.site-navigation__link--blog { background-color: var(--copperRed); }

.site-navigation__item--projects { grid-area: projects; }
.site-navigation__link--projects { background-color: var(--cambridgeBlue); }

.site-navigation__item--contact { grid-area: contact; }
.site-navigation__link--contact { background-color: var(--floralWhite); }


.site-navigation__link {
  position: relative;
  padding: 10px;
}

.site-navigation__link::before {
  content: "";
  position: absolute;
  z-index: 1;
  border: 10px solid var(--smokyBlack);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.navigation-link__inner {
  @apply --visually-hidden;
}

.navigation-icon:not(.navigation-icon--home-location) {
  display: block;
  width: 100%;
  height: 100%;
}

.navigation-icon:not(.navigation-icon--home-location) svg {
  width: 50%;
  height: 50%;
  margin: 25%;
}
.navigation-container {grid-area: navigation;}
.site-navigation--home {
  background-color: var(--smokyBlack);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
    "about about blog"
    "projects home blog"
    "projects contact contact";
}

.site-navigation__link--home-location {
  display: block;
  width: 100%;
  height: 100%;
}

.site-navigation--about,
.site-navigation--blog,
.site-navigation--projects,
.site-navigation--contact,
.site-navigation--blog-post {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  width: 300px;
  height: 300px;
  margin-left: -100px;
}

.site-navigation--blog-post {
  margin-left: 0;
}

.site-navigation__link:not(.site-navigation__link--home-location) {
  width: 80px;
  height: 80px;
  display: block;
  margin: 0 auto;
}

.site-navigation__item:not(.site-navigation__item--home-location) {
  width: 100px;
  height: 100px;
  border: none; 
}

.site-navigation__item--home:not(.site-navigation__item--home-location) {
  order: 3;
}

.site-navigation__item--about:not(.site-navigation__item--home-location) {
  order: 1;
  flex: 100%;
}

.site-navigation__item--blog:not(.site-navigation__item--home-location) {
  order: 4;
}

.site-navigation__item--projects:not(.site-navigation__item--home-location) {
  order: 2;
}

.site-navigation__item--contact:not(.site-navigation__item--home-location) {
  order: 5;
  flex: 100%;
}

.navigation-icon--home {
  fill: var(--floralWhite);
}

/* About */
.site-navigation--about {
  transform: rotate(-90deg);
}

.navigation-icon--about-location {
  transform: rotate(90deg);
}

.site-navigation--blog {
  transform: rotate(180deg);
}

.navigation-icon--blog-location {
  transform: rotate(-180deg);
}


.site-navigation--projects {
  transform: rotate(-0deg);
}

.navigation-icon--project-location {
  transform: rotate(0deg);
}

.site-navigation--contact {
  transform: rotate(90deg);
}

.navigation-icon--contact-location {
  transform: rotate(-90deg);
}



/* Animation Styles */

.site-navigation,
.navigation-icon {
  transition-duration: 3s;
}


/*.sitenav-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

*/
