.site-header {
  grid-area: header;
  padding: 0 10px 10px;
}

.site-header__title {
  margin: 0;
  text-transform: lowercase;
  font-size: 49px;
}

.site-header__tag {
  font-variant: small-caps;
  text-transform: lowercase;
  letter-spacing: 8px;
}

.site-header--home {
  align-self: end;
  padding-bottom: 10px;
}